.main{
    height: 95vh;
}

h1{
    font-size: 4rem;
}

h2{
    font-size: 2rem;
}

h3{
    font-style:initial;
    font-size: 2rem;
}

img {
    margin-left: 1rem;
    margin-right: 1rem; 
    border-radius: 3rem;
}