* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    font-size: 65.4%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body{
    background-color: #17202A;
}

.main{
    width: 100%;
    height: 95vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1{
    font-size: 3rem;
    color: #F8F1F1;
}
h2{
    color: #C70039;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-container {
    display: flex;
    justify-content: center;
    background-color: #900C3F;
    margin: 0;
}

p, .footer-container{ 
    font-size: 2rem;
    color: #F8F1F1;
}