* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    font-size: 65.4%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
}

:root{
    --background-color :#17202A ;
    --text-color: aliceblue;
    --more-color: #FFC300;
    --aside-bar-color: #FF5733;
    --nav-bar-color: #C70039;
    --footer-color: #900C3F;
    --nav-text-color: #DAF7A6; 
}

body {
    background-color: var(--background-color);
}

p{
    font-size: 1.6rem;
}

.main{
    height: 90vh;
    display: flex;
    flex-direction: column;
    margin-left: 1rem;
    margin-right: 1rem;
}

.aside-bar {
    background-color: #FF573350 ;
    margin: 0;
}

.aside-bar section p {
    color: var(--text-color);
}

h1{
    font-size: 3rem;
    text-align: center;
    color: var(--nav-bar-color);
    margin-bottom: 2rem;
}

.nav-bar {
    font-size: 1.5rem;
    display: flex;
    justify-content: space-between;
    height: 3rem;
    background-color: var(--background-color);
    border: 5rem;
}

.nav-bar li {
    display: inline-block;
    margin-right:6px;

}
.nav-bar a {
    text-decoration: none;
    color: var(--more-color);
}

/* .nav-bar li ::before {
    content: " | ";
    color: var(--nav-bar-color);
} */

li{
    display: inline-block;
}

a{
    text-decoration: none;
}

/* 
p {
    color: antiquewhite;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 2rem;
    background: url();
    -webkit-background-clip: text; 
} */

.main-content p {
    font-family:'Times New Roman', Times, serif;
    text-align: justify;
    color: var(--text-color);
}

footer {
    background-color: var(--footer-color);
    height: 10vh;
}

.footer-container {
    display: flex;
    justify-content: center;
}

.footer-container p{
    margin-top: .5rem;
    color: var(--nav-text-color);
    font-size: 1.2rem;
    text-align: center;
}


.nav-bar li :hover {
    color: var(--nav-bar-color);
}
